/* Estilos del article de vision*/
article {
  padding: 10px;
  background-color: #f8f8f8;
  text-align: center;
}

.visionArticle {
  display: flex;
  padding-top: 0px;
  margin: 0px;
}

.visionImg {
  max-width: 50%;
  height: auto;
}

.vision {
  flex: 1;
  background-color: #eeefff;
  border: 1px solid #000000;
}

.visionDesc {
  line-height: 1.6;
  text-align: center;
}

/* Estilos del article de mision*/
.misionArticle {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.misionImg {
  max-width: 50%;
  height: auto;
}

.mision {
  flex: 1;
  background-color: #eeefff;
  border: 1px solid #000000;
}
.misionDesc {
  line-height: 1.6;
  text-align: center;
}
h2{
  font-size: 35pt;
  font-family: 'League Spartan', sans-serif;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 30px;
}
p{
  font-size: 20pt;
  font-family: 'League Spartan', sans-serif;
  font-weight: lighter;
  text-align: justify;
  line-height: 30px;
}
