<!-- inicio -->
<article id="inicio">
  <div class="contenido-imagen">
    <section class="contenido">
      <h1>Bienvenido a BookChange</h1>
      <p>
        Somo una plataforma de intercambio de libros.
        El objetivo que tenemos es incentivar la lectura
        en el Perú, logrando una adquisición fácil de los
        libros y dejando de lado el concepto de que la
        lectura es un lujo. El propósito se basa en
        intercambiar libros de una manera más segura,
        rápida y sencilla, con la finalidad de que la
        gente evite guardar sus libros para poder intercambiarlos.
        En nuestra plataforma las personas podrán comunicarse
        previamente al intercambio de libros a parte que podrán
        buscar los libros que deseen
      </p>
      <div class="registrarse-btn">
        <button>Registrarse</button>
      </div>
    </section>
    <aside class="imagen">
      <img src="./assets/BookChangeIsotipo.png" alt="Imagen 1">
    </aside>
  </div>
</article>
<!-- Vision y Mision -->
<section id="Nosotros">
  <section class="visionArticle">
    <img class="visionImg" src="./assets/Vision.png" alt="Imagen de la cision">
    <article class="vision">
      <h2>Visión</h2>
      <p class="visionDesc">
        "En nuestro camino hacia la transformación de la cultura de
        lectura en nuestro país, aspiramos a convertirnos en la
        plataforma líder de intercambio de libros reconocida por
        empoderar a las comunidades para que compartan conocimientos,
        historias y perspectivas de una manera accesible y sostenible.
        Visualizamos un futuro en el que la lectura sea una actividad
        inclusiva y enriquecedora para todos, eliminando la idea de que
        es un lujo, y fomentando un mundo donde la sabiduría y el
        aprendizaje estén al alcance de todos."
      </p>
    </article>
  </section>
  <section class="misionArticle">
    <article class="mision">
      <h2>Misión</h2>
      <p class="misionDesc">
        "Nuestra misión es democratizar el acceso a la lectura
        y promover el intercambio de conocimiento a través de
        una plataforma de intercambio de libros segura,
        rápida y sencilla.
      </p>
    </article>
    <img class="misionImg" src="./assets/Mision.png" alt="Imagen de la vision">
  </section>
</section>

<!-- Equipo de Trabajo -->
<section id="EquipoDeTrabajo" class="equipo">
  <h2>Equipo de Trabajo</h2>
  <p class="equipoDesc">
    En el sexto ciclo de nuestra carrera de ingeniería de sistemas,
    estamos inmersos en un proyecto emocionante que está transformando
    la relación de las personas con la lectura en tiempo real.
    Nuestra meta es clara: Romper la barrera de que es un lujo.
  </p>
  <p class="equipoDesc">
    Desde el inicio, tuvimos en mente una visión simple pero poderosa:
    crear una plataforma de intercambio de libros segura, rápida y fácil de usar.
    Nuestro propósito inicial fue claro: los libros no deberían acumular polvo
    en estantes, sino moverse, llevar historias de un lector a otro y enriquecer vidas.
  </p>
  <p class="equipoDesc">
    En estos momentos, nuestro equipo de ingenieros se encuentra concentrado
    en la fase de desarrollo de la página web. Estamos trabajando intensamente
    para construir una plataforma sólida y amigable que permita a las personas
    intercambiar libros sin complicaciones.
  </p>
  <div class="equipoImg">
    <img src="./assets/Equipo%20de%20Trabajo.png" alt="Imagen del Equipo">
  </div>
</section>
