
<div class="container">

  <div class="ola">
    <div class="columna-izquierda">
      <h1>Libro Ofrecido</h1>
      <div class="imagen-libro">
        <img src="./assets/img/Libro2.webp" alt="Libro">
      </div>
      <h1>Harry Potter y la Piedra Filosofal</h1>
        <button class="button">CAMBIAR LIBRO</button>
    </div>

    <div class="columna-medio">

      <div class="fila1">
        <h2>Estás ofreciendo el libro CAPITÁN CALZONCILLO por el libro CIEN AÑOS DE SOLEDAD</h2>
        <img src="./assets/img/flechas.png" alt="img">
      </div>

      <div class="campos">
        <form  [formGroup]="formulario">
          <div class="campo1">
            <div>
              <label for="fecha">Fecha:</label>
              <input type="date" id="fecha" name="fecha" formControlName="fecha" required>
            </div>
            <div class="subcampo">
              <div>
                <label for="duracion">Duracion del intercambio:</label>
                <input type="number" id="duracion" name="duracion" formControlName="duracion">
                <div *ngIf="formulario.get('duracion')?.hasError('required')">
                  La duración es obligatoria.
                </div>
                <div *ngIf="formulario.get('duracion')?.hasError('min') || formulario.get('duracion')?.hasError('max')">
                  {{ obtenerMensajeErrorDuracion() }}
                </div>
              </div>

              <div>
                <label for="periodo">Periodo:</label>
                <select id="periodo" name="periodo" formControlName="periodo">
                  <option value="dias">Días</option>
                  <option value="semanas">Semanas</option>
                  <option value="meses">Meses</option>
                </select>
              </div>
            </div>
          </div>

          <div class="campo2">
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" formControlName="mensaje" placeholder="Escribe tu mensaje aquí" required></textarea>
          </div>
        </form>
      </div>

    </div>

    <div class="columna-derecha">
      <h1>Libro Solicitado</h1>
      <div class="imagen-libro">
        <img src="./assets/img/librito.png" alt="Libro">
      </div>

      <div class="fila2">
        <h1>Dueño</h1>
      </div>

      <div class="fila2">
        <div class="circle"><img src="./assets/img/imgM.jpg" alt="img-circulo"></div>
        <h3>Laura Patricia</h3>
      </div>
    </div>

  </div>

  <div class="btn">
    <button routerLink="/principal/detalleLibro" class="button1"  (click)="cancelar()">CANCELAR</button>
    <button routerLink="/principal/chatIntercambio" class="buttonend"  (click)="guardar()">SOLICITAR INTERCAMBIO</button>
  </div>

</div>
