<div class="container">
  <div class="ola">
    <div class="columna-izquierda">
      <h1>Libro Ofrecido</h1>
      <div class="imagen-libro">
        <img src="./assets/img/Libro2.webp" alt="Libro">
      </div>
      <h1>Harry Potter y la Piedra Filosofal</h1>
      <button class="button">CAMBIAR LIBRO</button>
    </div>

    <div class="columna-medio">
      <div class="fila1">
        <h2>Estás ofreciendo el libro CAPITÁN CALZONCILLO por el libro CIEN AÑOS DE SOLEDAD</h2>
        <img src="./assets/img/flechas.png" alt="img">
      </div>

      <div class="campos">
        <form [formGroup]="formulario">
          <div class="campo1">
            <div>
              <label for="libroSolicitado">Libro Solicitado:</label>
              <input type="text" id="libroSolicitado" name="libroSolicitado" formControlName="libroSolicitado" required>
            </div>
            <div>
              <label for="libroofrecido">Libro Ofrecido:</label>
              <input type="text" id="libroofrecido" name="libroofrecido" formControlName="libroOfrecido" required>
            </div>
            <div>
              <label for="fechaFin">Fecha fin:</label>
              <input type="date" id="fechaFin" name="fechaFin" formControlName="fechaFin" required>
            </div>
          </div>

          <div class="campo2">
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" formControlName="mensaje" placeholder="Escribe tu mensaje aquí" required></textarea>
          </div>
        </form>
      </div>
    </div>

    <div class="columna-derecha">
      <h1>Libro Solicitado</h1>
      <div class="imagen-libro">
        <img src="./assets/img/librito.png" alt="Libro">
      </div>

      <div class="fila2">
        <h1>Dueño</h1>
      </div>

      <div class="fila2">
        <div class="circle"><img src="./assets/img/imgM.jpg" alt="img-circulo"></div>
        <h3>Laura Patricia</h3>
      </div>
    </div>
  </div>

  <div class="btn">
    <button routerLink="/principal/detalleLibro" class="button1" (click)="cancelar()">CANCELAR</button>
    <button class="buttonend" (click)="guardar()">SOLICITAR INTERCAMBIO</button>
  </div>
</div>
