
<div class="container">

  <div class="ola">
    <div class="columna-izquierda">

      <div class="fila2">
        <div class="circle"><img src="./assets/img/imgM.jpg" alt="img-circulo"></div>
        <h3>Laura Patricia</h3>
      </div>

      <div class="fila2">
        <div class="circle"><img src="./assets/img/Ha.jpg" alt="img-circulo"></div>
        <h3>Juan David</h3>
      </div>

      <div class="fila2">
        <div class="circle"><img src="./assets/img/Hb.jpg" alt="img-circulo"></div>
        <h3>Samuel de luque</h3>
      </div>

      <div class="fila2">
        <h3>No tienes más chats </h3>
      </div>
    </div>

    <div class="columna-medio">

      <div class="fila2">
        <div class="circle"><img src="./assets/img/imgM.jpg" alt="img-circulo"></div>
        <h3>Laura Patricia</h3>
      </div>

      <div class="fila3">
        <h3>Hola, buenas tardes</h3>
        <h4>11:12</h4>

        <p>Hola</p>
        <a>11:13</a>

        <h3>En que parte de Perú vives?</h3>
        <h4>11:15</h4>

        <p>Vivo en Ica</p>
        <a>11:18</a>

        <h3>Perfecto, como intercambiamos los libros?</h3>
        <h4>11:23</h4>

        <div class="chat-input-container">
          <input type="text" placeholder="Escribe tu mensaje..." class="chat-input">
          <button class="send-button">Enviar</button>
        </div>

      </div>

    </div>

    <div class="columna-derecha">
      <h2>Libro Interesado</h2>
      <div class="imagen-libro">
        <img src="./assets/img/librito.png" alt="Libro">
      </div>

      <div class="flechas">
      <img src="./assets/img/flechas.png" alt="flechas">
      </div>

      <div class="imagen-libro">
        <img src="./assets/img/diario.jpg" alt="Libro">
        <h2>Mi libro</h2>

        <button class="button">Aceptar Solicitud</button>
        <button class="button1">Rechazar Solicitud</button>

      </div>

    </div>

  </div>

</div>
