.container {
  height: 78%;
  .ola {
    display: flex;
    flex-direction: row;
  }

  .columna-izquierda {
    flex: 2;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #EEEFFF;
  }

  .columna-medio{
    flex: 6;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .chat_window{
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top_menu{
      background-color: #f1f1f1;
      display: flex;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;

      h1{
        margin: 5px;
      }
    }
    .messages {
      position: relative;
      list-style: none;
      padding: 20px 10px 0 10px;
      margin: 0;
      min-height: 76%;
      max-height: 76%;
      overflow: scroll;
    }

    .messages .message {
      clear: both;
      overflow: hidden;
      margin-bottom: 20px;
      transition: all 0.5s linear;
      opacity: 1;
    }

    .messages .message.left .avatar {
      background-color: #baa4f8;
      float: left;
    }

    .messages .message.left .text_wrapper {
      background-color: #baa4f8;
      margin-left: 20px;
      padding: 10px;
    }

    .messages .message.left .text_wrapper::after,
    .messages .message.left .text_wrapper::before {
      right: 100%;
      border-right-color: #baa4f8;
    }

    .messages .message.left .text {
      background-color: #f8f8f8;
      border-radius: 5px;
      padding: 5px;
      color: #000;
    }

    .messages .message.right .avatar {
      background-color: #008069;
      float: right;
    }

    .messages .message.right .text_wrapper {
      background-color: #00a884;
      margin-left: 20px;
      padding: 10px;
    }

    .messages .message.right .text_wrapper::after,
    .messages .message.right .text_wrapper::before {
      left: 100%;
      border-left-color: #00a884;
    }

    .messages .message.right .text {
      background-color: #f8f8f8;
      border-radius: 5px;
      padding: 5px;
      color: #000;
    }

    .messages .message.appeared {
      opacity: 1;
    }

    .messages .message .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: inline-block;
    }

    .messages .message .text_wrapper {
      display: inline-block;
      padding: 15px;
      border-radius: 8px;
      width: calc(100% - 220px);
      min-width: 100px;
      position: relative;
    }

    .messages .message .text_wrapper::after,
    .messages .message .text_wrapper:before {
      top: 18px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .messages .message .text_wrapper::after {
      border-width: 13px;
      margin-top: 0px;
    }

    .messages .message .text_wrapper::before {
      border-width: 15px;
      margin-top: -2px;
    }

    .messages .message .text_wrapper .text {
      font-size: 18px;
      font-weight: 300;
    }
    .bottom{
      background-color: #f1f1f1;
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      justify-content: flex-start;
      padding: 10px;
      gap: 20px;
      .mensaje{
        width: 80%;
        input{
          width: 100%;
          height: 25px;
          border-radius: 30px ;
          font-size: 15px;
          border: 2px solid #000;
          padding: 10px 5px;
        }
      }
      .enviar{
        width: 20%;
        border-radius: 30px ;
        border: 2px solid #000;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: #693CC7;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        transition: 0.3s;
        padding: 10px;
      }
      .enviar:hover{
        background-color: #6b35f8;
      }
      .enviar:active{
        background-color: #693CC7;
      }
    }
  }

  .columna-derecha {
    flex: 2;
    padding: 37px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #EEEFFF ;
  }

  .imagen-libro {
    width: auto;
    height: auto;
    margin-bottom: 15px;
    overflow: hidden;

    img {
      width: 40%;
      height: 40%;
      object-fit: cover;
    }
  }

  .flechas {

    img {
      width: 10%;
      height: 10%;
      flex-direction: column;
      object-fit: cover;
    }
  }

  .fila1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 30px;
      margin-bottom: 0;
    }

    h2 {
      font-size: 18px;
      color: #8a8a8a;
      padding: 10px;
    }

    h3 {
      font-size: 18px;
    }
  }

  .circle {
    width: 70px; /* Ajusta el tamaño del círculo */
    height: 70px; /* Ajusta el tamaño del círculo*/
    background-color: #333; /* Color de fondo del círculo */
    border-radius: 50%;
    margin-right: 10px;
  }

  .circle img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  .button {
    background-color: #693CC7;
    font-size: 17px;
    color: #fff;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #000;
    transition: 0.3s ease;
    margin: 5px;
  }

  .button:hover{
    background-color: #6b35f8;
    color: #ffffff;
  }

  .button:active{
    background-color: #693CC7;
    color: #ffffff;
  }

  .button1{
    background-color: #000;
    font-size: 17px;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 25px;
    border: 3px solid #000;
    transition: 0.3s ease;
    margin: 5px;
  }

  .button1:hover{
    background-color: #101010;
    color: #ffffff;
  }

  .button1:active{
    background-color: #101010;
    color: #ffffff;
  }

  .fila2 {
    display: flex;
    border: 2px solid #000;
    padding: 10px;

    h1{
      margin-bottom: 10px;
    }

    h3{
      margin-top: 10px;
      align-items: center;
    }

  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  .fila3{

    h3{
      margin-top: 20px;
      margin-left: 60%;
      border: 2px solid #000;
      border-radius: 25px;
    }

    h4{
      margin-left: 80%;
    }

    p{
      margin-right: 80%;
      font-size: 14px;
      border: 2px solid #000;
      border-radius: 25px;
    }

    a{
      margin-right: 80%;
      font-size: 14px;
    }


  }

  .chat-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 20px;
    padding: 8px;

    .chat-input {
      flex-grow: 1;
      padding: 8px;
      border: none;
      border-radius: 4px;
      max-width: 100%;
    }

    .send-button {
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      background-color: #2196f3;
      color: #fff;
      cursor: pointer;
    }
  }
}
