
<div class="container">

  <div class="ola">
    <div class="columna-izquierda">

      <div class="fila2">
        <div class="circle"><img src="./assets/img/imgM.jpg" alt="img-circulo"></div>
        <h3>Laura Patricia</h3>
      </div>

      <div class="fila2">
        <div class="circle"><img src="./assets/img/Ha.jpg" alt="img-circulo"></div>
        <h3>Juan David</h3>
      </div>

      <div class="fila2">
        <div class="circle"><img src="./assets/img/Hb.jpg" alt="img-circulo"></div>
        <h3>Samuel de luque</h3>
      </div>

      <div class="fila2">
        <h3>No tienes más chats </h3>
      </div>
    </div>

    <div class="columna-medio">

      <div class="chat_window">
        <div class="top_menu">
          <img class="circle" src="./assets/img/imgM.jpg" alt="img-circulo">
          <h1>Laura Patricia</h1>
        </div>
        <ul class="messages">
          <li class="message right" *ngFor="let item of messageList"
              [ngClass]="{'left': item.message_side === 'receiver', 'right': item.message_side === 'sender'}"
          >
            <div class="avatar"></div>
            <div class="text_wrapper">
              <div class="text">{{item.message}}</div>
            </div>
          </li>
        </ul>
        <div class="bottom">
          <div class="mensaje">
            <input placeholder="Message..." [(ngModel)]="messageInput" (keyup.enter)="sendMessage()"/>
          </div>
          <div class="enviar" (click)="sendMessage()">
            <div class="text">Enviar</div>
          </div>
        </div>
      </div>

    </div>

    <div class="columna-derecha">
      <h2>Libro Interesado</h2>
      <div class="imagen-libro">
        <img src="./assets/img/librito.png" alt="Libro">
      </div>

      <div class="flechas">
      <img src="./assets/img/flechas.png" alt="flechas">
      </div>

      <div class="imagen-libro">
        <img src="./assets/img/Libro2.webp" alt="Libro">
        <h2>Mi libro</h2>

        <button class="button">Aceptar Solicitud</button>
        <button class="button1">Rechazar Solicitud</button>

      </div>

    </div>

  </div>

</div>
