<div class="container">

  <h1>Gestionar Libros</h1>

  <div class="fila">

    <div class="cuadrado">
      <div class="overlay">
        <button class="buttonend">Eliminar</button>
        <button class="button1">Modificar</button>
      </div>
      <img src="./assets/img/librito.png" alt="Libro">
    <h2>Título del Cuadrado</h2>
    <h3>Autor</h3>
    </div>


    <div class="cuadrado">
      <div class="overlay">
        <button class="buttonend">Eliminar</button>
        <button class="button1">Modificar</button>
      </div>
      <img src="./assets/img/librito.png" alt="Libro">
      <h2>Título del Cuadrado</h2>
      <h3>Autor</h3>
    </div>

    <div class="cuadrado">
      <div class="overlay">
        <button class="buttonend">Eliminar</button>
        <button class="button1">Modificar</button>
      </div>
      <img src="./assets/img/librito.png" alt="Libro">
      <h2>Título del Cuadrado</h2>
      <h3>Autor</h3>
    </div>

    <div class="cuadrado">
      <div class="overlay">
        <button class="buttonend">Eliminar</button>
        <button class="button1">Modificar</button>
      </div>
      <img src="./assets/img/librito.png" alt="Libro">
      <h2>Título del Cuadrado</h2>
      <h3>Autor</h3>
    </div>



  </div>

  <div class="fila">

    <div class="cuadrado">
      <div class="overlay">
        <button class="buttonend">Eliminar</button>
        <button class="button1">Modificar</button>
      </div>
      <img src="./assets/img/librito.png" alt="Libro">
      <h2>Título del Cuadrado</h2>
      <h3>Autor</h3>
    </div>

    <div class="cuadrado">
      <div class="overlay">
        <button class="buttonend">Eliminar</button>
        <button class="button1">Modificar</button>
      </div>
      <img src="./assets/img/librito.png" alt="Libro">
      <h2>Título del Cuadrado</h2>
      <h3>Autor</h3>
    </div>

    <div class="cuadrado">
      <div class="overlay">
        <button class="buttonend">Eliminar</button>
        <button class="button1">Modificar</button>
      </div>
      <img src="./assets/img/librito.png" alt="Libro">
      <h2>Título del Cuadrado</h2>
      <h3>Autor</h3>
    </div>

    <div class="cuadrado">
      <div class="overlay">
        <button class="buttonend">Eliminar</button>
        <button class="button1">Modificar</button>
      </div>
      <img src="./assets/img/librito.png" alt="Libro">
      <h2>Título del Cuadrado</h2>
      <h3>Autor</h3>
    </div>

  </div>

</div>
