
<section id="EquipoDeTrabajo" class="equipo">
  <h2>Equipo de Trabajo</h2>
  <p class="equipoDesc">
    En el sexto ciclo de nuestra carrera de ingeniería de sistemas,
    estamos inmersos en un proyecto emocionante que está transformando
    la relación de las personas con la lectura en tiempo real.
    Nuestra meta es clara: Romper la barrera de que es un lujo.
  </p>
  <p class="equipoDesc">
    Desde el inicio, tuvimos en mente una visión simple pero poderosa:
    crear una plataforma de intercambio de libros segura, rápida y fácil de usar.
    Nuestro propósito inicial fue claro: los libros no deberían acumular polvo
    en estantes, sino moverse, llevar historias de un lector a otro y enriquecer vidas.
  </p>
  <p class="equipoDesc">
    En estos momentos, nuestro equipo de ingenieros se encuentra concentrado
    en la fase de desarrollo de la página web. Estamos trabajando intensamente
    para construir una plataforma sólida y amigable que permita a las personas
    intercambiar libros sin complicaciones.
  </p>
  <div class="equipoImg">
    <img src="../../assets/Equipo%20de%20Trabajo.png" alt="Imagen del Equipo">
  </div>
</section>
