<nav class="navbar">
  <div class="logo">
    <img src="./assets/img/BookChangeIsotipo.png" class="logo-nav">
  </div>
  <div class="menu">
    <a routerLink="/principal">Libros</a>
    <a routerLink="/principal/chatIntercambio">Mensajes</a>
    <a routerLink="/principal/verPerfil">Perfil</a>
    <a routerLink="/principal/verLibro">Mis Libros</a>
  </div>
  <div class="search-container">
    <input type="text" name="buscar" id="buscar" placeholder="Busca un libro">
    <button>
      <img src="./assets/img/lupa.png" alt="buscar libro">
    </button>
  </div>
</nav>
