.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #d1d1d1;
  color: #000;
  padding: 5px 5px;

  .logo-nav {
    width: 60px;
    height: 60px;
  }

  .menu {
    display: flex;
    gap: 20px; // Reducido el espacio entre elementos del menú

    a {
      display: flex;
      align-items: center; // Centra verticalmente el texto dentro de los enlaces
      padding: 8px 6px;
      text-decoration: none;
      color: #000;
      font-size: 20px;
      transition: color 0.3s;
      cursor: pointer;
      border: 5px solid transparent; // Evita que el borde afecte el tamaño total

      &:hover {
        border-top: 5px solid #693CC7;
        color: #693CC7; // Cambia el color al pasar el mouse
      }
    }
  }

  .search-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;

    input {
      padding: 8px;
      margin-bottom: 0px;
      box-sizing: border-box;
      border-left: 2px solid #000;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #000;
      border-top: 2px solid #000;
      border-radius: 15px 0px 0px 15px;
      font-size: 15px;
    }
    button{
      background-color: #ffffff;
      padding: 7.5px 10px;
      font-size: 15px;
      font-weight: bold;
      border-right: 2px solid #000;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #000;
      border-top: 2px solid #000;
      border-radius: 0px 15px 15px 0px;
      margin-bottom: 0px;
      transition: 0.3s ease;
    }
    button:hover{
      background-color: #f1f1f1;
    }
    button:active{
      background-color: #ffffff;
    }
  }
}
