<div class="container">

  <div class="ola">
    <div class="columna-izquierda">
      <div class="imagen-libro">
        <img src="./assets/img/librito.png" alt="Libro">
      </div>

      <div class="detalles-libro">
        <h3>Editorial: De Bolsillo</h3>
        <h3>Idioma: Español</h3>
        <h3>Fecha de Lanzamiento: Mayo, 1967</h3>
        <h3>Géneros: Novela, Ficción, Fantasía</h3>
      </div>

    </div>

    <div class="columna-derecha">

      <div class="fila1">
        <h1>CIEN AÑOS DE SOLEDAD</h1>
        <h2>Gabriel García Márquez</h2>
        <h3>Sinopsis</h3>
        <h3>Entre la boda de José Arcadio Buendía con Amelia Iguarán hasta la maldición de Aureliano Babilonia transcurre todo un siglo. Cien años de soledad para una estirpe única, fantástica, capaz de fundar una ciudad tan especial como Macondo y de engendrar niños con cola de cerdo</h3>
      </div>

      <div class="fila2">
        <h1>Dueño</h1>
      </div>

      <div class="fila2">
        <div class="circle"><img src="./assets/img/imgM.jpg" alt="img-circulo"></div>
        <h3>Laura Patricia</h3>

        <button routerLink="/principal/solicitudIntercambio" class="button">SOLICITAR INTERCAMBIO</button>

      </div>

    </div>
  </div>
</div>
