<!-- inicio -->
<article id="inicio">
  <div class="contenido-imagen">
    <section class="contenido">
      <h1>Bienvenido a BookChange</h1>
      <p>
        Somo una plataforma de intercambio de libros.
        El objetivo que tenemos es incentivar la lectura
        en el Perú, logrando una adquisición fácil de los
        libros y dejando de lado el concepto de que la
        lectura es un lujo. El propósito se basa en
        intercambiar libros de una manera más segura,
        rápida y sencilla, con la finalidad de que la
        gente evite guardar sus libros para poder intercambiarlos.
        En nuestra plataforma las personas podrán comunicarse
        previamente al intercambio de libros a parte que podrán
        buscar los libros que deseen
      </p>
      <div class="registrarse-btn">
        <button>Registrarse</button>
      </div>
    </section>
    <aside class="imagen">
      <img src="../../assets/BookChangeIsotipo.png" alt="Imagen 1">
    </aside>
  </div>
</article>
